#product-container {
    width: 41%;
    background-color: blanchedalmond;
    border-radius: 5px;
    border-color: cadetblue;
    display: grid;
}

#add-product-container {
    border: 5px solid #db1414;
    background-color: #0cb9f8;
    border-radius: 5px;
    box-sizing: border-box;
    display: grid;
    position: absolute; left: 69%; top: 19%;
    height: 78%;
    width: 30%;
}

.add-product-input{
    position: absolute; left: 4%; top: 14%;
    width: 91%;
    height: 80%;
    display: inline-block;
    border: 4px solid #3f0fed;
    border-radius: 5px;
    box-sizing: border-box;
}
.add-product-details{
    color: #0c0c0c;
    font-size: 24px;
    text-align: left;
    margin-left: 16px;
    padding: 7px 10px;
}

.add-product-details label{
    font-weight: bold;
    display: block;
    margin-top: 30px;
    
}

.add-product-details select{

    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-color: red;
    position: absolute; left: 50%;
    height: 37px;
    margin-top: -8%;

}
.add-product-details input{
    position: absolute; left: 32%; top: 190px;
    width: 170px;
    border-radius: 5px;
    border-color: red;
}

.add-product-details email{
    position: absolute; left: 200px;
}
